h1 {
	text-align: center;
	color: red;
	font-size: 50px;
}

.container {
  max-width: 1000px;
  margin: auto;
  width: 100%;
  padding: 40px;
}

.canvas-container {
  width: 49%;
  display: inline-block;
}

@media (max-width: 768px) {
  .canvas-container {
    width: 100%;
    text-align: center;
  }
}

canvas {
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
}

.description {
  padding: 40px 0;
}
